@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Add this globally or inside your component using <style jsx> */
.prose a {
  color: #3b82f6; /* Tailwind blue-500 */
  text-decoration: underline;
}

.prose a:hover {
  color: #60a5fa; /* lighter blue */
  text-decoration: underline;
}
